@model AlphaFoodies.Models.Order
@{
    ViewBag.Title = "complete";
}
@Styles.Render("~/Content/chef.css")


@using (Html.BeginForm("complete", "Chef", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Order_Number)
    @Html.HiddenFor(model => model.ChefID)
    @Html.HiddenFor(model => model.WaiterID)
    @Html.HiddenFor(model => model.Order_Items)
    @Html.HiddenFor(model => model.Order_Date)
    @Html.HiddenFor(model => model.Order_Time)
    @Html.HiddenFor(model => model.Order_Total)
    @Html.HiddenFor(model => model.Service_Rating)
    @Html.HiddenFor(model => model.Comment)
    @Html.HiddenFor(model => model.Order_Status)
    @Html.HiddenFor(model => model.Order_PrepTime)
    @Html.HiddenFor(model => model.Order_Type)
    @Html.HiddenFor(model => model.Tip)
    <br />
    <h3>Are you sure you want to complete order</h3>
    <br />
    <div class="bottom">
        <a href="@Url.Action("order","Chef")">
            <input type="button" value="decline" class="btn btn-default" />
        </a>
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
        <input type="submit" value="accept" class="btn btn-default" />
    </div>
    <br />
}
