@model IEnumerable<AlphaFoodies.Models.Order>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/chef_Layout.cshtml";
}
@Styles.Render("~/Content/chef.css")
<h1>History</h1>


<table id="ordertable" class="display">
    <thead class="trh">
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Chef name
            </th>
            <th>
                Waiter name
            </th>
            <th>
                Order Items
            </th>
            <th>
                Order Date
            </th>
            <th>
                Order Time
            </th>
            <th>
                Order Total
            </th>
            <th>
                Service Rating
            </th>
            <th>
                Comment
            </th>
            <th>
                Order Status
            </th>
            <th>
                Order PrepTime
            </th>
            <th>
                Order Type
            </th>
            <th>
                Tip
            </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chef.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waiter.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Items)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service_Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_PrepTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>

        </tr>
    }

</table>

<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ordertable").DataTable();
        });
    </script>
}
