@model AlphaFoodies.Models.Chef

@{
    ViewBag.Title = "settings";
    Layout = "~/Views/Shared/chef_Layout.cshtml";
}
@Styles.Render("~/Content/chef.css")
<h1>settings</h1>


@using (Html.BeginForm("settings", "Chef", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ChefID)

    <div class="form-group">

        Name
        <div>
            @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        Surname
        <div>
            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        Email Address
        <div>
            @Html.EditorFor(model => model.Email_Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email_Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        Phone
        <div>
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

   

    <div class="form-group" >

        Password
        <div>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

    </div>

 

    <div class="form-group">
        <label for="inputState">Select editing image to edit image</label>
        <select id="user_type" class="form-control" onchange="hideContent(this.value)" name="user_type">
            <option selected value="yes">editing image</option>
            <option value="no">not editing image</option>
        </select>
    </div>

    <div class="form-group" id="edt">

        <label for="thePicture">picture</label>
        <div>
            <input type="file" class="form-control-file toHide" id="thePicture" name="thePicture">

        </div>
    </div>
    <div class="form-group" id="noedt">
        @Html.HiddenFor(model => model.Image)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    

    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/chef.js"></script>
    }
